# ==========================================
# CONFIGURACIÓN DE BASE DE DATOS MAESTRA
# ==========================================
DB_MASTER_ROOT_PASSWORD=escribe_tu_password_aqui
DB_MASTER_DATABASE=alflab_cotizaciones

# ==========================================
# CONFIGURACIÓN DE RÉPLICA Y .NET
# ==========================================
DB_PASSWORD=escribe_tu_password_aqui
DB_REPLICA_DATABASE=alflab_cotizaciones_replica

# ==========================================
# SEGURIDAD JWT
# ==========================================
JWT_SECRET=escribe_una_llave_super_secreta_aqui